@charset "utf-8";


.boardList_01 { width:540px; margin:15px 0 0 25px; background:url(../images/board-bg_title.gif) top no-repeat; }
.boardList_01 table { color:#8b8b8b; }
.boardList_01 th { height:26px; background:url(../images/icon-ico_board_title_bar.gif) left no-repeat; }
.boardList_01 th.First { background:none; }
.boardList_01 tr.bgcolor01 { background:#f0f2ed; }
.boardList_01 td { line-height:14px; padding:7px 0 6px 5px; text-align:left; border-bottom:1px solid #d1d1d1; }
.boardList_01 td span { vertical-align:middle; font: 12px/16px; letter-spacing:1px; color:#; margin:0 0 0 5px; }
.boardList_01 td span img { vertical-align:middle;  }
.boardList_01 td img { vertical-align:middle; }
.boardList_01 td.Line5 { border-bottom:1px solid #c1c1c1; }
.boardList_01 td.LineLast { border-bottom:1px solid #6b9199; }
.boardList_01 td.tahoma10 { font:10px tahoma; }
.boardList_01 td.icon { padding:0px 0 0px 0; }
.boardList_01 td.reply01  { padding-left:17px !important; font-weight:bold; color:#1ab0ac; background:url(../images/icon-ico_reply_sub.gif) 5px 6px no-repeat; }
.boardList_01 td.reply01 a { font-weight:bold; color:#1ab0ac;  }
.boardList_01 td.reply01 a:hover { color:#1ab0ac; }
.boardList_01 td.del01 a { color:#cdaa7f; }
.boardList_01 td.del01 a:hover { color:#cdaa7f; }
.boardList_01 td.Title { padding:7px 0 6px 3px; text-align:left; }
.boardList_01 td.Title02 { padding:7px 0 6px 3px; text-align:left; }
.boardList_01 td.Title02 a:hover { text-decoration:underline; }
.boardList_01 td.writer { padding:0 0 0 10px; text-align:left; }
.boardList_01 td a { color:#8b8b8b; text-decoration:none; }
.boardList_01 td a:hover { color:#8b8b8b; text-decoration:underline; }

.boardList_00 { width:540px; margin:15px 0 0 25px; background:url(../images/board-bg_title.gif) top no-repeat; }
.boardList_00 table { color:#8b8b8b; }
.boardList_00 th { height:26px; background:url(../images/icon-ico_board_title_bar.gif) left no-repeat; }
.boardList_00 th.First { background:none; }
.boardList_00 th.no { background:none; }
.boardList_00 tr.bgcolor01 { background:#f0f2ed; }
.boardList_00 td { line-height:14px; padding:7px 0 6px 5px; text-align:left; border-bottom:1px solid #d1d1d1; }
.boardList_00 td span { vertical-align:middle; font: 12px/16px; letter-spacing:1px; color:#; margin:0 0 0 5px; }
.boardList_00 td span img { vertical-align:middle;  }
.boardList_00 td img { vertical-align:middle; }

.boardList_100 { width:540px; margin:15px 0 0 25px; background:url(../images/board-bg_title.gif) top no-repeat; }
.boardList_100 table { color:#8b8b8b; }
.boardList_100 th { height:26px; background:url(../images/icon-ico_board_title_bar.gif) left no-repeat; }
.boardList_100 th.First { background:none; }
.boardList_100 th.no { background:none; }
.boardList_00 td {padding:7px 0 6px 5px; text-align:left; }

.pk01 th { height:18px;background:#C1C1C1;font-weight:bold;font-color:#636363 }


.boardList_03 td {border-bottom:1px solid #DCDCDC; }



.boardList_02 { width:520px; margin:15px 0 0 0px; background:url(../images/board-bg_title_02.gif) top no-repeat; }
.boardList_02 table { color:#8b8b8b; }
.boardList_02 th { height:26px; background:url(../images/icon-ico_board_title_bar.gif) left no-repeat; }
.boardList_02 th.First { background:none; }
.boardList_02 tr.bgcolor01 { background:#f0f2ed; }
.boardList_02 td { line-height:14px; padding:7px 0 6px 0; text-align:center; border-bottom:1px solid #d1d1d1; }
.boardList_02 td span.Title { font:bold 12px dotum; color:#eb8000; }
.boardList_02 td span { vertical-align:middle; font:bold 9px/16px tahoma; letter-spacing:1px; color:#1ab0ac; margin:0 0 0 5px; }
.boardList_02 td span img { vertical-align:middle;  }
.boardList_02 td img { vertical-align:middle; }
.boardList_02 td.Line5 { border-bottom:1px solid #c1c1c1; }
.boardList_02 td.LineLast { border-bottom:1px solid #6b9199; }
.boardList_02 td.tahoma10 { font:10px tahoma; }
.boardList_02 td.Date01 { font:bold 11px tahoma;  color:#ea8000; }
.boardList_02 td.Date02 { font:bold 11px dotum;  color:#1e8298; }
.boardList_02 td.Date03 { font:11px dotum; }
.boardList_02 td.icon { padding:0px 0 0px 0; }
.boardList_02 td.reply01  { padding-left:17px !important; font-weight:bold; color:#1ab0ac; background:url(../images/icon-ico_reply_sub.gif) 5px 6px no-repeat; }
.boardList_02 td.reply01 a { font-weight:bold; color:#1ab0ac;  }
.boardList_02 td.reply01 a:hover { color:#1ab0ac; }
.boardList_02 td.del01 a { color:#cdaa7f; }
.boardList_02 td.del01 a:hover { color:#cdaa7f; }
.boardList_02 td.Title { padding:7px 0 6px 3px; text-align:left; }
.boardList_02 td.Title02 { padding:7px 0 6px 3px; text-align:left; }
.boardList_02 td.Title02 a { color:#eb8000; font-weight:bold; }
.boardList_02 td.Title02 a:hover { color:#eb8000; text-decoration:underline; }
.boardList_02 td.writer { padding:0 0 0 10px; text-align:left; }
.boardList_02 td a { color:#8b8b8b; text-decoration:none; }
.boardList_02 td a:hover { color:#8b8b8b; text-decoration:underline; }



.style8 {line-height:150%;}